@charset "UTF-8";
@keyframes appear {
  0% {
    opacity: 0;
    /*transform: scale(0);*/ }
  100% {
    opacity: 1;
    /*	transform: scale(1);*/ } }

@keyframes appear1 {
  0% {
    opacity: 0;
    /*transform: scale(0);*/ }
  100% {
    opacity: 1;
    /*	transform: scale(1);*/ } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif, "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.wrapper {
  max-width: 95rem;
  width: 100%;
  margin: 0 auto; }

/*HEADING PRIMARY */
/*CARTE-PRESENT*/
.heading-primary {
  /*CARTE-BOX*/
  /*
	&--sub {
		width: 82%; 
		font-family: $font-secondary;
		background-color: #15dea5;

		font-size: 1.5rem;
		font-weight: normal;
		padding: 2rem 0 2rem 1rem;
	}*/ }
  .heading-primary--main {
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: 900;
    font-size: 1.6rem; }

/***HEADING SECONDARY-FONCTIONNEMENT-RESTAURANT**/
.heading-secondary {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif; }
  .heading-secondary--restaurant {
    padding-left: 1rem;
    padding-top: 1rem; }
  .heading-secondary-carte {
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 3px solid #99e2d0;
    display: inline-block;
    width: 2.4rem; }

/*HEADING TERTIARY*/
/***RESTO BOX */
.heading-tertiary {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 900;
  /***CARTE BOX */ }
  .heading-tertiary-carte {
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

/**** PRESENTATION/MAP*/
.box-map {
  width: 100%;
  border-top: 3px solid #d5d5d5;
  background-color: #e9e9e9;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600; }
  .box-map span {
    padding-left: 0.8rem; }

/**** PRESENTATION/Réservation**/
.box-reservation {
  background-color: #f6f6f6;
  padding-bottom: 1rem; }
  .box-reservation_discover {
    width: 70%;
    margin: 0 auto 1rem;
    padding: 2rem 0 1rem;
    text-align: center;
    font-size: 0.95rem; }
  .box-reservation .heading-text {
    display: block;
    margin-bottom: 1rem; }

/******* BOUTON ***/
.btn, .btn:link, .btn:visited {
  display: inline-block;
  cursor: pointer;
  border-radius: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 0.75rem 0;
  width: 70%;
  margin: 1rem auto;
  font-size: 1rem;
  transition: all 0.2s; }

.btn--purple {
  color: #fff;
  background: linear-gradient(#ff79da, #9356dc); }

.btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(#ff88de, #9b63df);
  transform: scaleY(1.02) translateY(1px); }

.btn:active {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(white, white);
  transform: scaleY(1.01) translateY(0.5px); }

/**CARTE-BOX*/
.command {
  width: 55%;
  margin: 0 auto 3rem;
  text-align: center; }

.box-menu {
  padding-bottom: 1px; }
  .box-menu .card-menu {
    width: 90%;
    margin: 1rem auto 2rem;
    border: 1px solid transparent;
    /*****/
    background-color: white;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
    .box-menu .card-menu_image {
      position: relative; }
      .box-menu .card-menu_image img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        background-position: top;
        border-radius: 1rem 1rem 0 0; }
      .box-menu .card-menu_image .button-new {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        display: inline-block;
        background-color: #99e2d0;
        color: #1b6150;
        padding: 0.4rem 1rem;
        border-radius: 0.1rem;
        font-size: 0.8rem; }
    .box-menu .card-menu_text {
      color: #000;
      padding-left: 1rem;
      padding-top: 0.5rem;
      position: relative; }
      .box-menu .card-menu_text .city {
        font-size: 1.1rem;
        line-height: 1.2rem; }

.carte-box {
  position: relative;
  /************************************/ }
  .carte-box .carte-picture img {
    width: 100%;
    height: 19rem;
    object-fit: cover;
    background-position: center; }
  .carte-box .carte-menu {
    width: 100%;
    position: absolute;
    top: 18.3rem;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: #f6f6f6;
    margin-top: -2rem; }
    .carte-box .carte-menu .card-menu_text--1 {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .carte-box .carte-menu .card-menu_text--1 .heading-primary--sub {
        width: 82.5%;
        font-family: "Shrikhand", cursive;
        font-size: 1.6rem;
        font-weight: normal;
        padding: 2rem 0 2rem 1rem; }
  .carte-box .starter {
    padding: 1rem; }
    .carte-box .starter-box {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      /****/
      margin: 1rem auto;
      padding-left: 0.7rem;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      border: 1px solid transparent;
      display: flex;
      height: 4rem; }
      .carte-box .starter-box_main {
        width: 100%;
        position: relative;
        transition: 0.5s;
        cursor: pointer; }
        .carte-box .starter-box_main .paragraphe {
          width: 66%;
          font-size: 0.9rem;
          /*line-height: 1rem;*/
          white-space: nowrap;
          letter-spacing: 1px;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: all 1s; }
        .carte-box .starter-box_main .price {
          position: absolute;
          top: 1.5rem;
          right: 1rem;
          font-size: 0.9rem;
          font-weight: bold; }
      .carte-box .starter-box_sub {
        width: 0%;
        height: 4rem;
        text-align: center;
        line-height: 4.5rem;
        cursor: pointer;
        background-color: #99e2d0;
        color: #fff;
        border-radius: 0 1rem 1rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 0.5s; }
        .carte-box .starter-box_sub .fas {
          transform: rotate(360deg);
          transition: 0.4s; }
      .carte-box .starter-box:hover .starter-box_main {
        width: 87.5%; }
      .carte-box .starter-box:hover .starter-box_sub {
        width: 12.5%; }
      .carte-box .starter-box:hover .paragraphe {
        width: 63%; }
      .carte-box .starter-box:hover .fas {
        transform: rotate(0deg); }

.starter-box--1 {
  animation: appear 0.3s linear both; }

.starter-box--2 {
  animation: appear 0.3s linear 0.3s both; }

.starter-box--3 {
  animation: appear 0.3s linear 0.6s both; }

/*
.starter-box--4 {
	animation: appear 0.3s linear 0.9s both;
}
.starter-box--5 {
	animation: appear1 0.3s linear 0.12s both;
}
.starter-box--6 {
	animation: appear1 0.3s linear 0.15s both;
}*/
/********************************************/
.command {
  width: 55%;
  margin: 0 auto 3rem;
  text-align: center; }

.header {
  display: flex; }
  .header-logo {
    text-align: center;
    margin: 2rem 0 0.8rem;
    position: relative;
    /***MENU RESTO 1 */ }
    .header-logo img {
      width: 12rem; }
    .header-logo .fleche {
      font-size: 1.2rem;
      position: absolute;
      top: 0;
      left: 1.5rem; }

main {
  display: flex;
  flex: 1; }

/*********************************************************/
/***MEDIA QUERIES 320PX **/
@media screen and (max-width: 460px) {
  .box-reservation .btn {
    width: 100%; }
  /*****Fonctionnement****/
  .section-fonctionnement .list {
    padding-left: 0;
    padding-right: 0; } }

/******* FONCTIONNEMENT********/
.list {
  counter-reset: numberOfList;
  padding: 1rem; }
  .list li {
    background-color: #f6f6f6;
    padding: 1.8rem 1.5rem;
    margin: 1rem auto;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: 900;
    list-style-type: none;
    counter-increment: numberOfList;
    position: relative; }
    .list li::before {
      content: counter(numberOfList);
      background-color: #9356dc;
      color: #fff;
      font-size: 0.9rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: inline-block;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 2rem;
      left: -0.5rem; }
    .list li:hover {
      background-color: #f2eafb;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
      cursor: pointer; }
      .list li:hover :not(span) {
        color: #9356dc; }
  .list_main {
    padding: 0 1rem;
    font-size: 1.4rem;
    color: #5d5d5d; }

/****RESTAURANTS**/
.section-restaurants a {
  text-decoration: none; }

.icon {
  /***CARTE-BOX*/ }
  .icon:hover .icon1 {
    opacity: 1; }
  .icon:active .icon1 {
    opacity: 1; }
  .icon:hover .icon2 {
    opacity: 0; }
  .icon .fa-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition-duration: 1s; }
  .icon .icon1 {
    opacity: 0;
    cursor: pointer;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    .icon .icon1::before {
      font-weight: bold; }
  .icon .icon3 {
    top: 2.4rem;
    /*2.4rem;*/
    right: 1rem;
    /* 3.5rem;*/ }

.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #333333;
  color: #fff; }
  .footer-logo {
    cursor: pointer;
    font-family: "Shrikhand", cursive;
    font-size: 1.6rem;
    margin-bottom: 1.3rem; }
  .footer-list {
    list-style-type: none;
    margin-bottom: 1rem;
    display: inline-flex;
    flex-direction: column; }
    .footer-list_icon {
      cursor: pointer;
      font-size: 1rem;
      padding: 2px; }
      .footer-list_icon1 span {
        margin-left: 0.4rem; }
      .footer-list_icon4 a {
        text-decoration: none;
        color: #fff;
        display: block; }
      .footer-list_icon:hover span {
        border-bottom: 1px solid #fff; }

.section-presentation {
  padding: 0;
  margin: 0; }

.section-fonctionnement {
  width: 90%;
  margin: 2rem auto; }

.section-restaurants {
  background-color: #f6f6f6;
  padding: 2rem 0 2rem; }

/*******************/
.section-carte {
  padding: 0;
  margin: 0; }
