.carte-box {
	position: relative;
	.carte-picture {
		img {
			width: 100%;
			height: 19rem;
			object-fit: cover;
			background-position: center;
		}
	}
	.carte-menu {
		width: 100%;
		position: absolute;
		top: 18.3rem;
		border-radius: 2.5rem 2.5rem 0 0;
		background-color: $color-grey;
		margin-top: -2rem;

		.card-menu_text--1 {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.heading-primary--sub {
				width: 82.5%;
				font-family: $font-secondary;
				font-size: 1.6rem;
				font-weight: normal;
				padding: 2rem 0 2rem 1rem;
			}
		}
	}

	/************************************/
	.starter {
		padding: 1rem;

		&-box {
			width: 100%;
			background-color: rgba($color-white, 0.9); /****/
			margin: 1rem auto;
			padding-left: 0.7rem;
			border-radius: 1rem;
			box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);
			border: 1px solid transparent;
			display: flex;
			height: 4rem;
			&_main {
				width: 100%;
				position: relative;
				transition: 0.5s;
				cursor: pointer;

				.paragraphe {
					width: 66%;
					font-size: 0.9rem;
					/*line-height: 1rem;*/
					white-space: nowrap;
					letter-spacing: 1px;
					text-overflow: ellipsis;
					overflow: hidden;
					transition: all 1s;
				}
				.price {
					position: absolute;
					top: 1.5rem;
					right: 1rem;
					font-size: 0.9rem;
					font-weight: bold;
				}
			}
			&_sub {
				width: 0%;
				height: 4rem;
				text-align: center;
				line-height: 4.5rem;
				cursor: pointer;
				background-color: $color-tertiary;
				color: $color-white;
				border-radius: 0 1rem 1rem 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: 0.5s;
				.fas {
					transform: rotate(360deg);
					transition: 0.4s;
				}
			}

			&:hover .starter-box_main {
				width: 87.5%;
			}
			&:hover .starter-box_sub {
				width: 12.5%;
			}
			&:hover .paragraphe {
				width: 63%;
			}
			&:hover .fas {
				transform: rotate(0deg);
			}
		}
	}
}
.starter-box--1 {
	animation: appear 0.3s linear both;
}

.starter-box--2 {
	animation: appear 0.3s linear 0.3s both;
}
.starter-box--3 {
	animation: appear 0.3s linear 0.6s both;
}
.starter-box--4 {
	animation: appear 0.3s linear 0.3s;
}
/*

.starter-box--5 {
	animation: appear1 0.3s linear 0.12s both;
}
.starter-box--6 {
	animation: appear1 0.3s linear 0.15s both;
}*/

/********************************************/
