* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-primary, $font-secondary, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	line-height: 1.7;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	max-width: 95rem;
	width: 100%;
	margin: 0 auto;
}
main {
	display: flex;
	flex: 1;
}

/************ MEDIA-QUERIES */

/*** BREAKPOINT-MOBILE  ***/
@media screen and (max-width: 460px) {
	.box-reservation {
		.btn {
			width: 100%;
		}
	}

	/*****Fonctionnement****/

	.section-fonctionnement {
		.list {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
/************************ BREAKPOINT-TABLET *****************************/

@media screen and (min-width: 612px) {
	.box-menu {
		@include display-wrap;

		.card-menu {
			width: 100%;
			max-width: 48%;
		}
	}
}

/***************************** BREAKPOINT-DESKTOP ***************************/

@media screen and (min-width: 1025px) {
	.section-fonctionnement {
		width: 90%;

		.list {
			display: flex;
			padding-left: 0.5rem;
			padding-right: 0;
			li {
				width: 30%;

				&:nth-child(1) {
					margin-left: 0;
				}
				&:nth-child(3) {
					margin-right: 0;
				}
			}
		}
	}
	/* RESTO-BOX ***/
	.box-menu {
		@include display-wrap;
		.card-menu {
			max-width: 22.5%;
		}
	}
	/***MEAL-BOX*/
	.meal-box {
		.meal-picture {
			img {
				height: 30rem;
			}
		}
		.meal-menu {
			top: 30rem;
			.meal-wrapper {
				display: flex;
				justify-content: space-between;

				.meal {
					width: 33%;
				}
			}
		}
	}
}
