.section-presentation {
}
.section-fonctionnement {
	width: 90%;
	margin: 2rem auto;
}

.section-restaurants {
	margin: 2rem auto 0;
	background-color: $color-grey;
}
/*******************/
.section-carte {
	
}
