.section-presentation {
	@include pad-margin;
}
.section-fonctionnement {
	width: 100%;
	padding: 1rem;
	margin: 2rem auto;
}

.section-restaurants {
	background-color: $color-grey;
	padding: 2rem 0 2rem;
}
/*******************/
.section-carte {
	@include pad-margin;
}
/*******************/
.section-meal {
	@include pad-margin;
}
